body {
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    background-color: #2A3647;
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.menu {
    padding-bottom: 300px;
}
.menu_buttons {
    margin-top: 25px;
    display: flex;
    align-items: center;
}

.menu_buttons img{
    margin-right: 16px;

}

a {
    text-decoration: none;
    color: #CDCDCD;
    font-family: Inter;
}

.rights-cont {
    display: flex;
    flex-direction: column;
}

.rights-cont a {
    margin-top: 8px;
}