body {
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    background-color: #2A3647;
    height: 100%;
    width: 15%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.menu {
    padding-bottom: 300px;
}
.menu_buttons {
    margin-top: 25px;
    display: flex;
    align-items: center;
}

.menu_buttons img{
    margin-right: 16px;

}

a {
    text-decoration: none;
    color: #CDCDCD;
    font-family: Inter;
}

.rights-cont {
    display: flex;
    flex-direction: column;
}

.rights-cont a {
    margin-top: 8px;
}

.head {
    display: flex;
    position: absolute;
    top: 0;
    left: 15%;
    width: 85%;
    height: 10%;
    justify-content: space-between;
    box-shadow: 0px 1px 3px 0px #CDCDCD;
    display: flex;
    align-items: center;
}

.head span{
    padding-left: 100px;
    font-size: 20px;
}

.head div {
    display: flex;
    align-items: center;
    margin-right: 50px;
}

.head div img{
    margin-left: 16px;
}