

<div class="main-header">
    <div class="logo-cont">
        <img src="assets/img/join_logo.png" alt="">
    </div>

    <div class="menu">
        <a href="./summary.html" class="menu_buttons summary-btn"><div><img src="assets/img/summary_vector.png" alt="">Summary</div></a>
        <a href="./add-task.html" class="menu_buttons addtask-btn"><div><img src="assets/img/edit_vector.png" alt="">Add Task</div></a>
        <a href="./board.html" class="menu_buttons board-btn"><div><img src="assets/img/board_vector.png" alt="">Board</div></a>
        <a href="./contacts.html" class="menu_buttons contacts-btn"><div><img src="assets/img/contacts_vector.png" alt="">Contacts</div></a>
    </div>

    <div class="rights-cont">

        <a href="./privacy-policy.html" class="rights-links privacy-btn"><div>Privacy Policy</div></a>
        <a href="./legal-notice.html" class="rights-links legal-notice-btn"><div>Legal notice</div></a>
    </div>
</div>

<div class="head-top">

    <span>Kanban Project Management Tool</span>
    <div>
        <img src="assets/img/help.png" alt="">
        <img src="assets/img/profile.png" alt="">
    </div>

</div>
