body {
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    background-color: #2A3647;
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}