

<div class="main-header">
    <div class="logo-cont">
        <img src="assets/img/join_logo.png" alt="">
    </div>

    <div class="menu">
        <a href="#" class="menu_buttons"><div><img src="assets/img/summary_vector.png" alt="">Summary</div></a>
        <a href="#" class="menu_buttons"><div><img src="assets/img/edit_vector.png" alt="">Add Task</div></a>
        <a href="#" class="menu_buttons"><div><img src="assets/img/board_vector.png" alt="">Board</div></a>
        <a href="#" class="menu_buttons"><div><img src="assets/img/contacts_vector.png" alt="">Contacts</div></a>
    </div>

    <div class="rights-cont">

        <a href="">Privacy Policy</a>
        <a href="">Legal notice</a>
    </div>
</div>

<div class="head-top">

    <span>Kanban Project Management Tool</span>
    <div>
        <img src="assets/img/help.png" alt="">
        <img src="assets/img/profile.png" alt="">
    </div>

</div>