/* style button select*/

.addtask-btn {
  background-color: var(--button-selected);
}

.addtask-btn:hover {
  background-color: var(--button-selected);
}

.d-none {
  display: none;
}

.task-headline h1 {
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 61px;
  font-weight: 700;
  display: flex;
  gap: 1px;
  justify-content: flex-start;
}

.task-headline {
  display: flex;
  align-items: center;
  position: absolute;
  left: 328px;
  top: 206px;
  max-width: 1208px;
}

.add-task-container {
  display: flex;
  position: fixed;
  inset: 336px 328px;
  width: 1208px;
}

.addtask-side-left {
  display: flex;
  position: absolute;
  left: 328px;
  top: 327px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 440px;
  height: 376px;
}

.input-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 440px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.fill-btn-white path {
  fill: white;
}

.due-date-icon {
  position: absolute;
  top: 38px;
  right: 12px;
}

.assigned-to-container {
  position: relative;
  border-right: 2px solid #a8a8a863;
  color: #a8a8a8;
  font-size: 18px;
  border: 1px solid #a8a8a8;
  border-radius: 10px;
  background-color: white;
  height: 48px;
}

.assigned-to-container img {
  cursor: pointer;
  width: 24px;
}

.contact-values {
  width: calc(440px - 42px);
  box-shadow: 0px 4px 4px 0px #0000001a;
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;
  overflow-y: scroll;
  min-height: 40%;
  background-color: white;
  padding: 16px 21px;
}

.contact-list-name-initials {
  display: flex;
  gap: 16px;
}

.contact-list-circle-element {
  justify-content: center;
  display: flex;
  gap: 10px;
  align-items: center;
  border-radius: 50%;
  width: 45px;
  height: 45px;
}

.contact-list-name-element {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.contact-list-name-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact-list-checkbox-icon {
  display: flex;
}

.input-container-contacts {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 8px;
  margin-top: 8px;
}

.rotate-180 {
  transform: rotate(180deg);
}

.arrow {
  top: 40px;
  right: 12px;
  cursor: pointer;
  position: absolute;
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.divider {
  position: absolute;
  left: 816.25px;
  top: 327px;
  width: 1px;
  background-color: #d1d1d1;
  height: 424px;
}

.addtask-side-right {
  display: flex;
  position: absolute;
  top: 327px;
  left: 864.25px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 440px;
  height: 376px;
}

.add-task-form {
  display: flex;
  flex-direction: row;
  max-width: 1208px;
}

.form-body {
  display: flex;
  width: 440px;
  flex-direction: column;
}

.button-conatiner {
  display: flex;
  margin-top: 68px;
}

.add-subtask {
  display: flex;
}

input[type="radio"] {
  display: none;
}

.checkbox {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 8px;
  width: 440px;
}

.svg-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.required-icon {
  color: #ff8190;
}

.svg-container svg {
  position: absolute;

  right: 12px;
}

label.radio-button {
  align-items: center;
  display: flex;
  font-size: 21px;
  padding: 16px 10px 16px 10px;
  justify-content: center;
  background-color: white;
  color: black;
  cursor: pointer;
  border-radius: 10px;
  margin-right: 10px;
  height: 40px;
  width: 136px;
  gap: 8px;
}

label img {
  width: 24px;
  gap: 8px;
}

input[type="radio"]:checked + label.radio-button {
  background-color: var(--prio-button-selected);
  color: white;
  font-weight: 700;
}

.prio-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

select {
  width: 440px;
  height: 48px;
  padding-block: 0;
  padding-inline: 0;
  color: #a8a8a8;
  font-size: 18px;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  background-color: white;
  padding: 12px 21px 12px 21px;
}

input {
  width: 398px;
  height: 24px;
  padding-block: 0;
  padding-inline: 0;
  color: #a8a8a8;
  font-size: 18px;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  background-color: white;
  padding: 12px 21px 12px 21px;
}

textarea {
  border: none;
  resize: none;
  border-radius: 10px;
  background-color: white;
  padding: 7px 16px;
  height: 168px;
}
