/* style button select*/

.addtask-btn {
  background-color: var(--button-selected);
}

.addtask-btn:hover {
  background-color: var(--button-selected);
}

.d-none {
  display: none;
}

.task-headline h1 {
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 61px;
  font-weight: 700;
  display: flex;
  gap: 1px;
  justify-content: flex-start;
}

.add-task-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  position: absolute;
  left: 328px;
  top: 206px;
}

.addtask-side-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 440px;
  height: 376px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 440px;
}

.assigned-to-container {
  position: relative;
  border-right: 2px solid #a8a8a863;
  color: #a8a8a8;
  font-size: 18px;
  border: 1px solid #a8a8a8;
  border-radius: 10px;
  background-color: white;
  height: 48px;
}

.assigned-to-container img {
  cursor: pointer;
  width: 24px;
}

.arrow {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.arrow svg:hover {
  background-color: #d1d1d1;
  border-radius: 50%;
}

.divider {
  width: 1px;
  background-color: #d1d1d1;
  height: 424px;
}

.addtask-side-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 440px;
  height: 376px;
}

.add-task-form {
  display: flex;
  flex-direction: row;
}

.form-body {
  display: flex;
  width: 440px;
  flex-direction: column;
}

.button-conatiner {
  display: flex;
  margin-top: 68px;
}

.add-subtask {
  display: flex;
}

input[type="radio"] {
  display: none;
}

.checkbox {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 8px;
  width: 440px;
}

label.radio-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--button-color);
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 10px;
}

input[type="radio"]:checked + label.radio-button {
  background-color: var(--button-selected);
}

input {
  color: #a8a8a8;
  font-size: 18px;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  background-color: white;
  padding: 12px 21px;
}

textarea {
  border: none;
  border-radius: 10px;
  background-color: white;
  padding: 7px 16px;
  height: 168px;
}
