@media (max-width: 1432px) {
    .contacts-container {
        width: 380px;
    }

    .contacts-btn-bg {
        left: 189px;
    }

    .single-content-container {
        left: 646px
    }

    .close-btn {
        left: 1038px;
    }

    .edit-card-form {
        width: 630px;
    }

}

@media (max-width: 1328px) {
    .contacts-container {
        width: 329px;
        left: 152px;
    }

    .contacts-btn-bg {
        left: 238px;
        width: auto;
    }

    .single-content-container {
        left: 502px;
    }

    .btn-container {
        width: 302px;
    }

    .contact-data {
        gap: 8px;
    }

    .edit-card-form {
        width: 579px;
        ;
    }

    .close-btn {
        left: 937px;
    }

    .contacts-btn-bg {
        left: 160px;
    }

    .edit-card-headline {
        width: 404px;
        padding: 66px 20px;
    }

    .main-header {
        width: 154px;
    }
}

@media (max-width: 1100px) {
    /* .dnone {
        display: none;
    } */
}


@media (max-width: 1023px) {
    .desktop-view-off {
        display: none;
    }

    .contacts-container {
        margin: 0px auto;
        position: unset;
        overflow-y: scroll;
        height: calc(100% - 160px);
        width: 100%;
    }

    .mobile-center {
        display: flex;
        justify-content: end;
    }

    .main-header {
        width: 100%;
    }

    .dnone {
        display: none;
    }

    .add-contacts-btn {
        width: 56px;
        border-radius: 50%;
    }

    .contacts-conllection {
        margin: 0;
    }

    .btn-container {
        background-color: unset;
        margin-right: 14px;
        width: 56px;
        height: 56px;
    }

    .contacts-btn-bg {
        display: unset;
        width: 56px;
        height: 56px;
        left: 81%;
        right: 0px;
        top: calc(100% - 160px);
    }

    .contacts-icon-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8px;
    }

    ::-webkit-scrollbar {
        display: none;
    }

    .desktop-view-off {
        display: none;
    }

    .single-contact-headline {
        flex-direction: column;
        align-items: flex-start;
        transition: none;
        gap: 8px;
        margin: 0;
        height: 110px;

    }

    .big-circle {
        width: 80px;
        height: 80px;
        font-size: 27px;
    }

    .single-data-headline {
        gap: 20px;
    }
    .single-contact-name-card {
        display: flex;
        align-items: center;
        font-size: 27px;
    }

    .single-contact-data-container {
        min-width: 0;
    }

    .single-contact-headline h1 {
        font-size: 47px;
    }

    .single-contact-headline span {
        font-size: 20px;
        width: 200px;
    }

    .desktop-none {
        display: unset;
    }
}

@media(max-width: 340px) {
    .contacts-container {
        width: 320px;
        overflow-x: hidden;
    }
}

#mobile-single-contacts {
    position: absolute;
    top: 0;
    left: 0;
}


.mobile-headline {
    display: flex;
    flex-direction: column;
    ;
}
