/* style button select*/

:root {
    --contacts-link-color: #007CEE;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contacts-btn {
    background-color: var(--button-selected);
}

.contacts-btn:hover {
    background-color: var(--button-selected);
}

.contacts-container {
    width: 456px;
    height: 100vh;
    position: fixed;
    overflow-y: scroll;
    padding: 0;
    display: flex;
    justify-content: center;
    top: 96px;
    left: 232px;
    background-color: #ffffff;
    box-shadow: 0px 1px 3px 0px #CDCDCD;
}

.contacts-container a {
    text-decoration: none;
    color: var(--light-blue);
}

.contacts-conllection {
    width: 400px;
    padding: 32px 24px;
    margin-top: 64px;
}

.contacts-content {
    display: flex;
    flex-direction: column;
}

.contatcs-btn-bg {
    height: 99px;
    width: 456px;
    position: fixed;
    top: 96px;
    left: 232px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-container {
    height: 96px;
    width: 352px;
    background-color: #ffffff;
    display: flex;
    justify-self: center;
    align-items: center;
}

.add-contacts-btn {
    width: 352px;
    height: 56px;
    border-radius: 10px;
    padding: 12px 16px;
    border: none;
    font-weight: 700;
    font-size: 21px;
    line-height: 25.2px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: var(--background-color-site);
    background-color: var(--button-color);
}

.add-contacts-btn img {
    height: 32px;
    width: 32px;
}

.add-contacts-btn:active {
    background-color: var(--light-blue)
}

.set-contact-to-active {}

.list {
    width: 352px;
    height: 58px;
    padding: 17px 36px;
    gap: 8px;
    display: flex;
}

.list-char {
    font-size: 20px;
}

.contact-data {
    width: 352px;
    height: 78px;
    border-radius: 10px;
    padding: 15px 24px;
    gap: 35px;
    display: flex;
    justify-content: space-around;
}

.contact-data a {
    color: var(--contacts-link-color);
}

.contact-data:active {
    color: var(--background-color-site);
    background-color: var(--button-selected);
}

.contact-data:active .initials-circle {
    border: 2px solid var(--background-color-site);
}

.set-contact-to-active {
    color: var(--background-color-site);
    background-color: var(--button-selected);
}

.contact-data:hover {
    background-color: rgba(0, 0, 0, 10%);
}

.initials-circle {
    height: 42px;
    width: 42px;
    border-radius: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--background-color-site);
}

.underline {
    width: 352px;
    height: 16px;
    margin: 8px 0px;
    gap: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 10%);
}

.add-contacts-card {
    width: 467px;
    height: 594px;
    padding: 66px 48px 66px 48px;
    gap: 12px;
    background-color: gray;
    color: var(--background-color-site);
}

.single-content-container {
}

.single-contact-headline {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 206px;
    left: 743px;
    gap: 30;
    width: 569px;
    height: 73px;
}

.single-contact-headline h1 {
    font-weight: 700;
    font-size: 61px;
}

.single-contact-data-container {
    position: absolute;
    top: 311px;
    left: 750px;
    gap: 21px;
    min-width: 456px;
    display: flex;
    flex-direction: column;
}

.single-contact-headline span {
    font-size: 25px;
}

.single-data-headline {
    height: 120px;
    display: flex;
    align-items: center;
    gap: 54px;
}

.big-circle {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--background-color-site);
    font-weight: 500;
    font-size: 47px;
}

.single-contact-name-card {
    height: 88px;
    font-size: 47px;
    flex: 1;
}

.icons-contacts {
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 3px;
    cursor: pointer;
}

.icons-contacts img {
    height: 24px;
    width: 24px;
    margin-right: 3px;
}

.contacts-icon-container {
    display: flex;
    gap: 13px;
}

.contact-info-headline {
    width: 207px;
    height: 74px;
    font-size: 20px;
    display: flex;
    align-items: center;
}

.contact-info-card {
    width: 140px;
    height: 128px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact-info-card a {
    text-decoration: none;
    color: var(--contacts-link-color);
}

.contact-info-value {
    width: 124px;
    height: 53px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.vertical-bar {
    height: 59px;
    border-left: 3px solid var(--light-blue);
}

.user-color-one {
    background-color: #FF7A00;
}

.user-color-two {
    background-color: #FF5EB3;
}

.user-color-three {
    background-color: #6E52FF;
}

.user-color-four {
    background-color: #9327FF;
}

.user-color-five {
    background-color: #00BEE8;
}

.user-color-six {
    background-color: #1FD7C1;
}

/* .user-color-one {
    background-color: #FF7A00;
}

.user-color-one {
    background-color: #FF7A00;
}

.user-color-one {
    background-color: #FF7A00;
} */

.wraper {
    display: flex;
}
