@media (max-width: 1432px) {
    .contacts-container {
        width: 380px;
    }

    .contacts-btn-bg {
        left: 189px;
    }

    .single-content-container {
        left: 646px
    }

    .close-btn {
        left: 655px;
    }

    .edit-card-form {
        width: 630px;
    }

    .close-btn {
        left: 613px;
    }
}

@media (max-width: 1328px) {
    .contacts-container {
        width: 329px;
        left: 152px;
    }

    .contacts-btn-bg {
        left: 238px;
        width: auto;
    }

    .single-content-container {
        left: 502px;
    }

    .btn-container {
        width: 302px;
    }

    .contact-data {
        gap: 8px;
    }

    .edit-card-form {
        width: 579px;
        ;
    }

    .close-btn {
        left: 512px;
    }

    .main-header {
        width: 152px;
    }

    .contacts-btn-bg {
        left: 160px;
    }

    .edit-card-headline {
        width: 404px;
        padding: 66px 20px;
    }

    .head-top {
        padding: 19px 40px 20px 240px
    }
}

@media (max-width: 1100px) {
    .dnone {
        display: none;
    }
}
