body{
    margin: 0;
}

.animation-main-cont{
    display: none;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F6F7F8;
}

.login-top-cont{
    display: flex;
    justify-content: space-between;
    padding: 48px
}

.signup-button{
    background-color: #2A3647;
    width: 100px;
    height: 50px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-left: 16px;
}

.signup-cont{
    display: flex;
    height: fit-content;
    align-items: center;
}

.signup-cont span{
    font-size: 20px;
}

.login-main-cont{
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #F6F7F8;
}

.login-cont{
    width: 652px;
    height: 493px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

.login-rights-cont{
    width: 200px;
    height: 30px;
    background-color: bisque;
    margin-left: auto;
    margin-right: auto;
}

.login-cont{
    display: flex;
    border-radius: 30px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.login-headline{
    width: 315px;
    height: 89px;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    font-size: 61px;
    font-family: Inter;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    margin-top: 32px;
}

.line{
    width: 150px;
    height: 3px;
    background-color: #29ABE2;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.loginemail{
    background: url(/assets/img/mail.png)no-repeat 100%;
    background-size: 20px 16px;
    background-position-x: 370px;
    width: 422px;
    height: 48px;
    border-color: #D1D1D1;
    border-style: solid;
    border-radius: 10px;
    font-size: 20px;
    margin-bottom: 24px;
    padding-left: 21px;
    padding-right: 21px;
    padding-top: 12px;
    padding-bottom: 12px;
    box-sizing: border-box;
}

.loginpassword{
    background: url(/assets/img/lock.png)no-repeat 100%;
    background-size: 16px 21px;
    background-position-x: 372px;
    width: 422px;
    height: 48px;
    border-color: #D1D1D1;
    border-style: solid;
    border-radius: 10px;
    font-size: 20px;
    margin-bottom: 32px;
    padding-left: 21px;
    padding-right: 21px;
    padding-top: 12px;
    padding-bottom: 12px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

::placeholder {
    color: #D1D1D1;
    opacity: 1; /* Firefox */
}

.checkbox-cont{
    width: 100%;
    margin-left: 39px;
    margin-bottom: 40px;
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
}

.login-buttons-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
}

.loginbutton{
    width: 110px;
    height: 48px;
    background-color: #2A3647;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 21px;
    font-weight: 700;
    margin-right: 16px;
}

.loginguestbutton{
    width: 177px;
    height: 46px;
    background-color: #ffffff;
    border: solid 1px #2A3647;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2A3647;
    font-size: 21px;
    font-weight: 700;
    margin-left: 16px;
}

.checkbox-cont{
    display: flex;
    align-items: center;
}

.checkbox-cont span{
    margin-left: 8px;
}

.logincheckbox{
    width: 16px;
    height: 16px;
    -moz-appearance:none;
    -webkit-appearance:none;
    -o-appearance:none;
    border: 2px solid #2A3647 !important;
    border-radius: 3px;
}