@media(max-width:660px) {

    .login-main-cont {
      justify-content: center;
    }

    .login-top-cont {
        justify-content: center !important;
        padding: 58px 0px 99px 0px;
        order: 2;
    }

    .login-cont{
        order: 1;
        width: 396px !important;
        height: 515px !important;
        justify-content: space-evenly;
    }

    .loginemail {
        width: 364px !important;
        height: 48px !important;
        background-position-x: 330px !important;
    }
    
    .loginpassword {
        width: 364px !important;
        height: 48px !important;
        background-position-x: 330px !important;
    }

    .login-rights-cont {
        bottom: 22px;
    }

    .login-headline span {
        font-size: 47px !important;
    }

    .line {
        width: 88px;
    }

    .login-headline {
        height: 73px;
        margin-bottom: 0;
        margin-top: 0;
    }

    .login-buttons-cont {
        flex-direction: column;
        margin-bottom: 0px;
        width: 180px !important;
        height: 123px !important;
        justify-content: space-around !important;
        align-items: unset !important;
    }
    
    .loginbutton {
        width: 180px !important;
        height: 51px !important;
        margin-right: 0px;
    }

    .loginguestbutton {
        width: 180px;
        height: 51px;
        margin-left: 0px !important;
    }

    .animation-img {
        width: 100px;
        height: 121px;
    }

    @keyframes move-logo {
        from {
          top: 50%;
          left: 50%;
          width: 100px;
          height: 121px;
        }
      
        to {
          top: 60px;
          left: 60px;
          width: 64px;
          height: 78px;
        }
      }

      .reg-cont {
        width: 396px;
        height: 595px;
      }

      .loginname {
        width: 364px !important;
        height: 50px !important;
        background-position-x: 330px;
      }

      .reg-headline-with-back-btn span {
        font-size: 47px;
      }

      .reg-headline {
        margin-bottom: 0;
        margin-top: 0;
        justify-content: space-evenly;
      }

      .form-cont {
        display: contents;
      }
      
      .checkbox-cont {
        width: unset; 
        margin-left: 0;
      }

}

@media(max-width:440px) {

  .login-main-cont{
    padding-top: 55px;
  }

  .login-cont {
    width: 370px;
  }

  .loginemail {
    width: 340px !important;
    background-position-x: 300px !important;
  }

  .loginpassword {
    width: 340px;
    background-position-x: 300px;
  }

}

@media(max-height:670px) {


  .login-main-cont{
    padding-top: 100px;

  }

  .login-rights-cont {
    bottom: 0px;
  }

  .login-headline span {
    font-size: 37px;
  }

  .loginemail {
    height: 40px;
  }

  .loginpassword {
    height: 40px;
  }

  .login-cont {
    height: 450px;
  }

  .login-top-cont {
    padding: 10px 0px 138px 0px;
  }

  .signup-button {
    width: 80px;
    height: 40px;
  }

  .signup-cont span {
    font-size: 16px;
  }

  .checkbox-cont {
    margin-bottom: 0;
  }

}